%h2
  = @repo.title
  = @repo.readable_language

= @repo.readable_description

%h3 Embed this script in your site's layout:

.well
  %p= "<script src='#{repo_url(@repo)}.js' type='text/javascript'></script>"

.btn-group
  = link_to 'Github', @repo.address, target: '_blank', class: 'btn btn-default'
  = link_to 'Edit', edit_repo_widget_path(@repo, @repo.widget), class: 'btn btn-primary', id: 'edit-btn'
  = link_to 'Remove', repo_path(@repo), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
