<h2>
  <%= @repo.name %> 
  <% if @repo.language != "" %>
    <small>// <%= @repo.language %></small>
  <% end %>
</h2>

<% if @repo.description != "" %>
	<p><strong>Description:</strong> <%= @repo.description %></p>
<% end %>

</br>

<h3>Embed this script in your site's layout:</h3>
<div class="well"><p><%= "<script src=\"#{repo_url(@repo)}.js\"></script>" %></p></div>

</br>
</br>
</br>

<%= link_to 'Edit', edit_repo_path(@repo), class: "btn btn-primary" %>
<%= link_to 'Github', @repo.address, :target => "_blank", class: "btn btn-primary" %>
