<h2>
  <%= @repo.name %> 
  <% if @repo.language != "" %>
    <small>// <%= @repo.language %></small>
  <% end %>
</h2>

<% if @repo.description != "" %>
	<p><strong>Description:</strong> <%= @repo.description %></p>
<% end %>

</br>

<h3>Embed this script in your site's layout:</h3>
<div class="well"><p><%= "<script src=\"#{repo_url(@repo)}.js\" type='application/javascript'></script>" %></p></div>

</br>
</br>
</br>
<div class="btn-group">
<%= link_to 'Github', @repo.address, :target => "_blank", class: "btn btn-default" %>
<%= link_to 'Preview', preview_repo_path(@repo), class: "btn btn-primary", id: "preview-btn", :data => {:toggle => "modal", :target => "#previewModal"} %>
<%= link_to 'Remove', delete_repo_path(@repo), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger" %>
</div>

<%= render 'preview' %>