<%= javascript_include_tag "repos_index" %>

<div class="container-fluid">
	<div class="row">
		<div class="page-header">
      <h1>Your Shoebox <small>// <%= @repos.count %> active</small>
        <%= link_to 'Add Repository', new_repo_path, class: "btn btn-primary pull-right" %></h1>
      </div>
    </div>
    <% if @repos.count == 0 %>
    <div class="row">
    <div class="col-md-4">
        <%= image_tag 'shoebox.png', size: "200x200", class: "shoebox" %>
      </div>
      <div class="col-md-8">
        <h2>Your shoebox is empty!</h2>
        <p>Add a repository to create your first widget.</p>
        </br>
        <%= link_to 'Get started', new_repo_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-md-3 right-border">
        <%= render 'sidebar' %>
      </div>
      <div class="col-md-9">
      </div>
    </div>
    <% end %>
  </div>
