.container-fluid
  .row
    .page-header
      %h1
        Add Repository
        %small
          \//
          = @repos.available
        = link_to 'My Shoebox', repos_path, class: 'btn btn-primary pull-right'
  #loading{ style: 'display: none;' } Loading table from Github....
  %table#table.table.table-hover.datatable{ style: 'display: none;' }
    %thead
      %tr
        %th
          NAME
        %td ORGANIZATION
        %th
          UPDATED AT
        %th ADD
    %tbody
      - @repos.each do |repo|
        %tr
          %td= link_to repo.title, repo.address, target: '_blank'
          %td= repo.organization
          %td= repo.gh_updated_at
          %td
            = form_for repo do |f|
              = f.hidden_field :address
              = f.hidden_field :token
              = f.hidden_field :name
              = f.hidden_field :full_name
              = f.hidden_field :description
              = f.hidden_field :language
              = f.hidden_field :open_issue_count
              = f.hidden_field :github_created_at
              = f.hidden_field :github_updated_at
              = f.submit 'Add Repo', class: 'btn btn-primary btn-sm'
