(function() {
  // If jQuery isn't assigned or isn't version 1.11.0, assign 
  // version 1.11.0 to the variable jQuery. This allows GitShoes
  // to use its version of jQuery without conflicting the site's version.
  var jQuery;
  if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.11.0') {
    var script_tag = document.createElement('script');
    script_tag.setAttribute("type","text/javascript");
    script_tag.setAttribute("src", "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js");
    if (script_tag.readyState) {
      script_tag.onreadystatechange = function () { // For old versions of IE
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          scriptLoadHandler();
        }
      };
    } else {
      script_tag.onload = scriptLoadHandler;
    }
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
  } else {
    jQuery = window.jQuery;
    main();
  }

  // Returns control of $ to other JS libraries (like native jQuery)
  function scriptLoadHandler() {
    jQuery = window.jQuery.noConflict(true);
    main();
  }

  // Create widget
  function main() {
    jQuery(document).ready(function($) {
      WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      
      var gitshoesInsert = $("<div id='feedback-container'><div id='gitshoes-button'></div></div>");
      gitshoesInsert.css({
        "z-index": "1000",
        "position": "<%= @widget.position %>",
        "<%= @widget.orientation %>": "<%= @widget.offset %>",
        "<%= @widget.edge %>": 0,
        "width": "<%= @widget.form_width %>"
      });
      gitshoesInsert.appendTo('body');

      var gitshoesFloater = $('#gitshoes-button')
      gitshoesFloater.text("<%= @widget.tab_text %>");
      gitshoesFloater.css({
        "width": "<%= @widget.tab_width %>",
        "height": "<%= @widget.tab_height %>",
        "line-height": "<%= @widget.tab_line_height %>",
        "margin": "<%= @widget.tab_margin %>",
        "font-size": "<%= @widget.tab_font_size %>",
        "text-align": "<%= @widget.tab_text_align %>",
        "padding": "<%= @widget.tab_padding %>",
        "border-top-left-radius": "<%= @widget.form_border_radius %>",
        "border-top-right-radius": "<%= @widget.form_border_radius %>",
        "background-color": "<%= @widget.tab_background_color %>",
        "color": "<%= @widget.tab_font_color %>",
        "cursor": "<%= @widget.tab_cursor %>",
        "float": "<%= @widget.orientation %>",
        "font-family": "<%= @widget.tab_font %>",
        "display": "<%= @widget.tab_display %>"
      });


      var gitshoesFormDiv = $("<div id='gitshoes-form'></div>");
      gitshoesFormDiv.css({
        "padding": "5px 20px 5px 20px",
        "background-color": "<%= @widget.form_background_color %>",
        "width": "<%= @widget.form_width %>",
        "float": "<%= @widget.orientation %>",
        "border": "<%= @widget.form_border_thickness %> <%= @widget.form_border_type %> <%= @widget.form_border_color %>",
        "border-top-left-radius": "<%= @widget.tab_edge_radius %>",
        "font-size": "<%= @widget.body_font_size %>",
        "color": "<%= @widget.body_font_color %>",
        "font-family": "<%= @widget.body_font %>"
      });
      gitshoesFormDiv.appendTo('#feedback-container');

      //save formDiv in a variable
      var formDiv = jQuery('#gitshoes-form');
      formDiv.css({"display": "none"});

      // ajax starts here
      var gitshoesFormUrl = "<%= new_issue_url(@repo) %>";
      jQuery.ajax({
        url:       gitshoesFormUrl,
        dataType:  "html",
        success:   function(data) {
          formDiv.html(data)
          $("form#new_issue").css({
            "margin": "0"
          });
          $("form#new_issue").on("submit", function(e){
            e.preventDefault();
            var bodyText = jQuery('#issue_system').val();
            if (bodyText !== ""){
              var submitBodyText = "Platform: "+ "\n" + navigator.platform + "\n\n" + "Browser: " + "\n" + navigator.userAgent + "\n\n" + "Location: " + "\n" + window.location.pathname + "\n\n" + "Message: " + "\n" + bodyText
              jQuery('#issue_body').val(submitBodyText);
              jQuery.ajax(jQuery("#new_issue").attr("action"), {
                crossDomain: true,
                method: "POST",
                data: jQuery("#new_issue").serialize(),
                success: function(data){
                  jQuery('#gitshoes-form').slideUp();
                  jQuery('#issue_email').val("");
                  jQuery('#issue_title').val("");
                  jQuery('#issue_body').val("");
                  jQuery('#issue_system').val("");
                  jQuery('#gitshoes-button').fadeOut(400).html('Thank you!').delay(500).fadeIn();
                }
              })
            };
          })
        }
        
      });

      function ajaxCall (){
        console.log("hi");
        jQuery(document).on("ajax:success", "#new_issue", function(event, data, status, xhr){
          console.log('ajax success triggered');
          jQuery('#gitshoes-form').slideUp();
          jQuery('#issue_email').val("");
          jQuery('#issue_title').val("");
          jQuery('#issue_body').val("");
          jQuery('#issue_body').val("");
          jQuery('#gitshoes-button').fadeOut(400).html("<%= @widget.button_success_text %>").delay(500).fadeIn();
        });
      };

      // click event for slide up or slide down
      jQuery('div#gitshoes-button').on('click', function() { 
        if (jQuery('#gitshoes-button').html() == "<%= @widget.button_success_text %>"){
          jQuery('#gitshoes-button').html("<%= @widget.button_text %>");
        };

        if(formDiv.css("display") == "none"){
          formDiv.slideDown();
        } else {
          formDiv.slideUp();
        }
      });

    });
  }
})();