<div class="page-header">
  <h1>
    <%= @repo.name %> 
    <% if @repo.language != "" %>
      <small>// <%= @repo.language %></small>
    <% end %>
  </h1>
</div>

<% if @repo.description != "" %>
	<p><strong>Description:</strong> <%= @repo.description %></p>
<% end %>

</br>

<%= link_to 'Back', repos_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_repo_path(@repo), class: "btn btn-primary" %>
  <%= link_to 'Github', @repo.address, :target => "_blank", class: "btn btn-primary" %>
<%= link_to 'Create Issue', new_issue_path, class: "btn btn-primary" %>