<h1><%= @repo.name %></h1>
<p><%= link_to 'View on Github', @repo.address, :target => "_blank" %></p>

<% if @repo.language %>
	<h3><%= @repo.language %></h3>
<% end %>

<% if @repo.description %>
	<p><strong>Description:</strong> <%= @repo.description %></p>
<% end %>

</br>

<%= link_to 'Back', repos_path, class: "btn btn-primary" %>
<%= link_to 'Create Issue', new_issue_path, class: "btn btn-primary" %>