<h1>Add Issue</h1>

<%= form_for @issue, remote: true, url: create_issue_path do |f| %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>
	</br>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</br>
	<%= f.label :body %>
	<%= f.text_area :body %>
	</br>
	<%= f.submit 'Add Issue'%>

<% end %>
