<div class="form-group">
	<%= f.label :tab_font_color, "Tab text", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_font_color, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_background_color, "Tab background", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_background_color, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :body_font_color, "Body text", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :body_font_color, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :form_background_color, "Body background", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :form_background_color, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :form_border_color, "Border", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :form_border_color, :class => "form-control" %>
	</div>
</div>