<div class="form-group">
	Tab text: <%= f.text_field :tab_font_color %>
</div>
<div class="form-group">
	Tab background: <%= f.text_field :tab_background_color %>
</div>
<div class="form-group">
	Body text: <%= f.text_field :body_font_color %>
	</div>
<div class="form-group">
	Body background: <%= f.text_field :form_background_color %>
	</div>
<div class="form-group">
	Border: <%= f.text_field :form_border_color %>
</div>