<div class="form-group">
	<%= f.label :tab_font, "Tab font", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_font, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_font_size, "Tab font size", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_font_size, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :body_font, "Body font", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :body_font, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :body_font_size, "Body font size", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :body_font_size, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :field_font, "Field font", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :field_font, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :field_font_size, "Field font size", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :field_font_size, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :button_font, "Button font", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :button_font, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :button_font_size, "Button font size", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :button_font_size, :class => "form-control" %>
	</div>
</div>