<div class="form-group">
	<%= f.label :edge, "Edge", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :edge, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :orientation, "Orientation", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :orientation, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :offset, "Offset", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :offset, :class => "form-control" %>
	</div>
</div>