<div class="form-group">
	<%= f.label :tab_width, "Tab width", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_width, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_height, "Tab height", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_height, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_line_height, "Tab line height", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_line_height, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_padding, "Tab padding", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_padding, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :tab_edge_radius, "Tab edges", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_edge_radius, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :form_width, "Form width", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :form_width, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :form_border_radius, "Form edges", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :form_border_radius, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :form_border_thickness, "Border thickness", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :form_border_thickness, :class => "form-control" %>
	</div>
</div>