<div class="form-group">
	Tab width: <%= f.text_field :tab_width %>
</div>
<div class="form-group">
	Tab height: <%= f.text_field :tab_height %>
</div>
<div class="form-group">
	Tab line height: <%= f.text_field :tab_line_height %>
</div>
<div class="form-group">
	Tab padding: <%= f.text_field :tab_padding %>
</div>
<div class="form-group">
	Tab edges: <%= f.text_field :tab_edge_radius %>
</div>
<div class="form-group">
	Form width: <%= f.text_field :form_width %>
</div>
<div class="form-group">
	Form edges: <%= f.text_field :form_border_radius %>
</div>
<div class="form-group">
	Border thickness: <%= f.text_field :form_border_radius %>
</div>