<div class="form-group">
	<%= f.label :tab_text, "Tab", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :tab_text, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :title_field_text, "Title", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :title_field_text, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :description_field_text, "Description", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :description_field_text, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :button_text, "Button", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :button_text, :class => "form-control" %>
	</div>
</div>
</br>
</br>
<div class="form-group">
	<%= f.label :button_success_text, "Tab success", :class => "control-label" %>
	<div class="controls">
	  <%= f.text_field :button_success_text, :class => "form-control" %>
	</div>
</div>