<%= javascript_include_tag "/repos/#{@widget.id}/widget/edit.js" %>

<div class="container-fluid">
	<div class="row">
		<div class="page-header">
      <h1><%= @repo.name %></small>
        <%= link_to 'My Shoebox', repos_path, class: "btn btn-primary pull-right" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div id="entire-edit-container">
        <div class="widget-form-tabs">
          <nav>
            <ul class="list-inline edit-widget-tabs" id="menu">
              <li class="active">
                <a href="#" id="active" class="switch-to-color">Color</a>
              </li>
              <li>
                <a href="#" class="switch-to-font">Font</a>
              </li>
              <li>
                <a href="#" class="switch-to-orientation">Orientation</a>
              </li>
              <li>
                <a href="#" class="switch-to-size">Size</a>
              </li>
              <li>
                <a href="#" class="switch-to-text">Text</a>
              </li>
            </ul>
          </nav>
        </div>
        <%= render 'widget_form' %>
      </div>
    </div>
    <div class="col-md-8" style="height:600px">
      <div id="mac-view-container">
        <div id="mac-zoom-container">
          <%= render 'widget_zoom_view' %>
        </div>
        <div id="mac-orientation-container">
          <%= render 'widget_orientation_view' %>
        </div>
      </div>
    </div>
  </div>
</div>